@font-face {
	font-family: AchemineBold;
	src: url("font/acheminb-webfont.ttf");
}
@font-face {
	font-family: Achemine;
	src: url("font/achemine-webfont.ttf");
}
::selection {
	color: #004494;
	background-color: yellow;
}
body {
	font-family: Achemine;
	background-color: #222;
	color: #f4ecf4;
	margin: 0 0;
}
header {
		background-color: #004494;
		font-size: 2rem;
		padding: 1rem;
}
section {
	margin: 20px;
}
#containerExemple {
	position: relative;
	background-image: url(pictures/parcoursDepartEx.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 550px;
	height: 308px;
	font-family: AchemineBold;
}
#containerParcoursDepart {
	position: relative;
	background-image: url(pictures/parcoursDepart.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 550px;
	height: 308px;
	font-family: AchemineBold;
}
#containerParcoursArrive {
	position: relative;
	background-image: url(pictures/parcoursArrive.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 550px;
	height: 308px;
	font-family: AchemineBold;
}
span {
	min-width: 10px;
}
span:hover {
	outline: 1px #00449477 solid;
}
span:focus {
	outline: 1px #004494 solid;
}
.stops:not(div):hover, #stopDest:hover, .heure:hover, #informations:hover {
	outline: 1px #ffff0077 solid;
}
.stops:not(div):focus, #stopDest:focus, .heure:focus, #informations:focus {
	outline: 1px #ffff00 solid;
}
.value {
	background-color: transparent;
	border: none;
	min-width: 10px;
}
/*.value:empty:after {  PAS POSSIBLE DE METTRE STYLE :EMPTY -> VISIBLE SUR RESULTAT
	content: "";
}*/
#heure {
	position: absolute;
	top: 30px;
	left: 7px;
	font-size: 27px;
	letter-spacing: 2px;
	color: #004494;
	font-family: AchemineBold;
}
#typeNum {
	position: absolute;
	top: 74px;
	left: 7px;
}
.inline {
	display: inline;
}
#destination {
	font-size: 25px;
	letter-spacing: 1.5px;
	max-width: 175px;
	color: #004494;
	font-family: AchemineBold;
	display: block;
}
#typeTrain {
	float: left;
	margin-top: 3px;
	font-size: 15px;
	text-transform: uppercase;
	color: #004494;
	font-family: Achemine;
}
#numTrain {
	float: left;
	margin-left: 4px;
	margin-top: 4px;
	font-size: 14px;
	text-transform: uppercase;
	color: #808bc4;
	font-family: Achemine;
}
.stops {
	position: absolute;
	left: 212px;
	font-size: 19px;
	color: #f1eaf3;
	font-family: 'Achemine';
}
.stops:not(:empty):before, #dest:not(:empty):before {
	content: "•";
	position: relative;
	right: 10px;
	bottom: 3px;
	color: yellow;
	font-size: 24px;
}
#stop0 {
	top: 28px;
}
#stop1 {
	top: 49px;
}
#stop2 {
	top: 71px;
}
#stop3 {
	top: 93px;
}
#stop4 {
	top: 114px;
}
#stop5 {
	top: 136px;
}
#stop6 {
	top: 158px;
}
#stop7 {
	top: 180px;
}
#stop8 {
	top: 202px;
}
#stop9 {
	top: 224px;
}
#dest {
	top: 248px;
	left: 207px;
	position: absolute;
}
#dest:not(:empty):before {
	right: 5px;
}
#stopDest {
	padding-right: 5px;
	font-size: 19px;
	font-family: 'AchemineBold';
	color: #f1eaf3;
	background-color: #6969af;
	border-radius: 3px;
}
.heure {
	position: absolute;
}
#currentHeure {
	top: 288px;
	left: 478px;
	font-size: 17px;
	color: #f4ecf4;
	font-family: 'AchemineBold';
}
#currentSec {
	top: 293px;
	left: 521px;
	font-size: 11px;
	color: #ffc24f;
	font-family: 'Achemine';
}
#informations {
	position: absolute;
	top: 283px;
	left: 6px;
	font-size: 18px;
	color: #f4ecf4c7;
	font-family: 'Achemine';
	font-style: italic;
	max-width: 449px;
	word-break: break-all;
	height: 20px;
	overflow: hidden;
	padding-right: 5px;
}
button {
	background-color: #003a79;
	color: #f4ecf4;
	border: none;
	margin: 10px 0;
	font-size: 20px;
	padding: 10px;
	cursor: pointer;
}
button:hover {
	background-color: #376699;
}
details {
	border: 1px dashed #888;
	margin: 20px 0;
}
summary {
	cursor: pointer;
}
#containerExemple span {
	background-color: #fff5;
	border: 1px solid #999;
}
